$font-stack: 'Source Sans Pro', sans-serif;

$theme-colors: (
  "primary": #1C444F,
  "secondary": #4876AB,
  "background": #C6E4DC,
  "light-background": #7ab8ff,
  "dark": #000000,
  "light": #e8f1ff
);

html{
    background-color: map-get($theme-colors, "background"); 
    scroll-behavior: smooth; 
}

.welcome{
    background-color: map-get($theme-colors, "background");
    color: map-get($theme-colors, "primary");
    font: 100% $font-stack;

    margin:0 auto;
    display: block;
    min-height: 100vh;

    .content{
        text-align: center;
        margin-top: 30px;
        img {
            display: block;
            margin:0 auto;
            width: 200px;
        }
        .titles{
            display: inline-block;
            h1 {font-size: 25px;}
            h2 {font-size: 20px;}
        }
        #mainBtn{
            color: map-get($theme-colors, "primary");
            background: map-get($theme-colors, "background");
            border: 3px solid map-get($theme-colors, "primary");
            border-radius: 2px;

            position: relative;
            display: block;
            margin:0 auto;
            margin-top: 10px;

            text-decoration: none;
            font-size: 18px;
            width: 270px;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            padding: 14px 0px;
        
            opacity: 0;
            animation: fadein 3s;
            animation-delay: 3.5s;
            animation-fill-mode: forwards;

            &:hover {
                transition: 0.2s all ease;
                background: map-get($theme-colors, "secondary");
                color: map-get($theme-colors, "light");
            }
        }
    } 
}

.info{
    margin:0 auto;
    display: block;
    min-height: 100vh;
    width: 100%;
    font: $font-stack;
    text-align: center;
    h1{
        color: map-get($theme-colors, "primary");
        font-size: 30px;
        padding-bottom: 20px;
    }
    h2{
        color:map-get($theme-colors, "primary");
        font-size: 25px;
        padding: 10px;
    }
    h3{
        color: map-get($theme-colors, "secondary");
        font-size: 18px;
        padding-top: 10px;
    }
    h4{
        color: map-get($theme-colors, "secondary");
        font-size: 18px;
        padding-top: 5px;
    }
    p{
        color: map-get($theme-colors, "primary");
        font-size: 10px;
    }
    a, a:hover{
        text-decoration: none;
    }
    .imgWrapper{
        margin:0 auto;
        overflow: hidden;
        height: 100px;
        width: 100px;
    }
}

.about{
    background-color: map-get($theme-colors, "light");
    padding: 20px;
    .experiences{
        .imgWrapper{
            transition: 0.5s all ease;
            border-radius: 50%;
            &:hover{
                transition: 0.5s all ease;
                border-radius: 30%;
            }
        }
        img{
            margin:0 auto;
            margin-left: -25%;
            height: 100%;
            width: auto;
        }
    } 
    .self{
        padding-top: 20px;
        .imgWrapper{
            border-radius: 30%; 
        }
        img{
            margin:0 auto;
            width: 100%;
            height: auto;
        }
    }
    .resume{
        padding-top: 15px;
        iframe{
            
            width: 100%;
        }
    }
}

.portfolio{
    background: map-get($theme-colors, "light-background");
    padding-top: 20px;
    padding-bottom: 20px;
    .modal{
        .modal-content{
            background-color: map-get($theme-colors, "background");
            .modal-header{
                h5{color: map-get($theme-colors, "primary");}
                padding-bottom: 0;
            }
            .modal-body{
                .carousel{
                    border: 3px solid map-get($theme-colors, "secondary");
                    border-radius: 20px;
                    overflow: hidden;
                    margin: auto;
                }
                p{
                    padding-top: 10px;
                    font-size: 15px;
                } 
                padding-bottom: 0;
            }
            .modal-footer{
                .modal-btn{
                    color: map-get($theme-colors, "primary");
                    background: map-get($theme-colors, "background");
                    border: 3px solid map-get($theme-colors, "primary");
                    border-radius: 2px;
            
                    position: relative;
                    float: left;
                    width: 160px;
                    height: 50px;
            
                    a{ 
                        color: map-get($theme-colors, "primary");
                        text-decoration: none;
                        font-size: 15px;
                        position: absolute;
                        display: inline-block;
                        padding: 10px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        text-align: center;
                        font-weight: bold;
                    }
                    i{
                        color: map-get($theme-colors, "primary");
                        text-decoration: none;
                        font-size: 18px;
                    }
                    &:hover {
                        opacity: 1;
                        transition: 0.2s all ease;
                        background: map-get($theme-colors, "secondary");
                        color: map-get($theme-colors, "light");
                    }
                }
            }    
        }
    }
    .project{
        margin:0 auto;
        &.imgWrapper{
            height: 250px;
            width: 100%;
            padding:0;
            img{
                background-size: cover;
                margin-left: -60%;
                height: 100%;
                width: auto;
                position: absolute;
            }
            .hovercover{
                background: map-get($theme-colors, "background");
                width: 100%;
                height: 100%;
                position: absolute;
                opacity: 0;
                transition: opacity 0.25s ease-in;
                h4, h5{
                    transform: translate(0px, -10px);
                    opacity: 0;
                    transition: transform 0.25s, opacity 0.2s;
                    font-family: $font-stack;
                }
                h4{ 
                    color: map-get($theme-colors, "primary");
                    font-size: 30px;
                }
                h5{ 
                    color: map-get($theme-colors, "secondary");
                    font-size: 20px;
                }
                .learnmore{
                    transform: translate(0px, 120px);
                    opacity: 0;
                    transition: transform 0.25s, opacity 0.2s;

                    color: map-get($theme-colors, "primary");
                    background: map-get($theme-colors, "background");
                    border: 3px solid map-get($theme-colors, "primary");
                    border-radius: 2px;

                    position: relative;
                    display: inline-block;
                    margin:0 auto;
                    width: 180px;
                    height: 50px;

                    button{
                        color: map-get($theme-colors, "primary");
                        background: none;
                        border: 0;
                        box-shadow: none;
                        text-decoration: none;
                        font-size: 15px;
                        position: absolute;
                        display: inline-block;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        padding: 8px;
                        z-index: 2;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        text-align: center;
                        font-weight: bold;
                    }

                    i{
                        color: map-get($theme-colors, "primary");
                        text-decoration: none;
                        font-size: 18px;
                        display: inline-block;
                    }

                    &:hover {
                        opacity: 1;
                        transition: 0.2s all ease;
                        background: map-get($theme-colors, "secondary");
                        color: map-get($theme-colors, "light");
                    }
                }
            }
            &:hover{
                .hovercover{
                    opacity: 0.85;
                    transition: opacity 0.15s ease-in;
                    h4, h5{
                        transform: translate(0px, 20px);
                        opacity: 1;
                        transition: transform 0.25s, opacity 0.2s;
                    }
                    .learnmore{
                        transform: translate(0px, 90px);
                        opacity: 1;
                        transition: transform 0.25s, opacity 0.2s;
                    }
                }
            }
        }
    }
}

.contact{
    text-align: center;
    background-color: map-get($theme-colors, "secondary");
    margin:0 auto;
    display: block;
    padding: 20px;
    i{
        padding: 20px;
        font-size: 3em;
        color: map-get($theme-colors, "primary");
    }
    img{height: 80px;}
}

@media screen and (min-width: 0){
    .resume{
        iframe{
            height: 325px;
        }
    }
}

@media screen and (min-width:530px){
    .welcome .content .titles {
        h1 {font-size: 35px;}
        h2 {font-size: 30px;}
    }
    .info {
        h1 {font-size: 40px;}
        h2 {font-size: 30px;}
    }
    .experiences, .resume{
        .imgWrapper {
            height: 150px;
            width: 150px;
        }
        h3 {font-size: 20px;}
        h4 {font-size: 15px;}
        p {font-size: 15px;}
    }
    .self {
        .imgWrapper { 
            height: 200px;
            width: 200px;
        }
    }
    .resume{
        iframe{
            height: 650px;
        }
    }
    .project{
        &.imgWrapper{
            .img{
                background-position: -50px 0;
            }
        }
    }
}
  
@media screen and (min-width:768px) {
    .welcome .content {
        .titles {
            h1 {font-size: 45px;}
            h2 {font-size: 40px;}
        }
        img {
            width: 250px;
        }
    }
    .info {
        h1 {font-size: 50px;}
        h2 {font-size: 35px;}
    }
    .experiences, .self, .resume {
        .imgWrapper {
            height: 200px;
            width: 200px;
        }
        h3 {font-size: 25px;}
        h4 {font-size: 20px;}
        p {font-size: 15px;}
    }
    .self {
        .imgWrapper { 
            height: 400px;
            width: 400px;
        }
    }
    .resume{
        iframe{
            height: 350px;
        }
    }
    .project{
        &.imgWrapper{
            .img{
                background-position: 0 0;
            }
        }
    }
}
  
@media screen and (min-width:1000px) {
    .welcome .content {
        .titles {
            h1 {font-size: 55px;}
            h2 {font-size: 50px;}
        }
        img {
            width: 300px;
        }
    }
    .info {
        h1 {font-size: 55px;}
        h2 {font-size: 35px;}
    }
    .experiences, .self, .resume {
        h3 {font-size: 25px;}
        h4 {font-size: 20px;}
        p {font-size: 15px;}
    }
    .resume{
        iframe{
            height: 450px;
        }
    }
}

@keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}