
/* PAGE */

html{
    background-color: #821212;
    width: 100%;
}

/* END PAGE */

/* TEXT */

h1.title {
    font-family: "Montserrat", Lato, "Noto Sans", sans-serif;
    color: #821212;
    text-align: center;
    text-shadow: 3px 3px 4px black;
    margin: 2em auto 1em;
    font-size: 3em;
    letter-spacing: 0.05em;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
    font-family: "Merriweather", serif;
    color: #ccddee;
}

a:hover {
    color: #350a0a;
}

.code, code {
    font-family: "Liberation Mono", monospace;
    background-color: #2b2b2b;
    padding: 1px 3px;
    border-radius: 5px;
    white-space: pre;
    overflow-x: auto;
}

/* END TEXT */

/* HEADER */

header {
    font-size: 1em;
    width: 100%;
    display: flex;
    z-index: 2;
    background-color: #6b0404;
}

header a#mobile-nav, header a#mobile-nav-close {
    display: none;
}

header a:hover {
    text-shadow: none;
    color: #350a0a;
    transition: .2s;
    background-color: #f28080;
}

header nav {
    display: block;
    flex-grow: 1;
}
  
header nav ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    max-width: 800px;
    margin: 0 auto;
    padding-inline-start: 0;
}
  
header nav>ul>li {
    font-size: 1.5em;
    width: 160px;
    text-align: center;
    font-weight: 600;
}
  
header nav ul li ul {
    font-size: .75em;
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 240px;
    min-width: 180px;
    padding: 0;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height .8s, box-shadow .3s;
    transition-timing-function: ease;
    font-weight: normal;
}
  
header nav ul li ul li {
    background-color: #005377;
    max-width: 100%;
}
  
header nav ul li:hover ul {
    max-height: 100%;
    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .6);
}

/* END HEADER */