/* Michael Bosik - THEME
 *
 * #1C444F
 * #4876AB
 * #6191C6
 * #7EA5CB
 * #C6E4DC
 *
 */

/* PAGE */
html, body{
    padding: 0;
    margin: 0;
    background-color: #C6E4DC;
}

body{
    max-width: 1500px;
    margin:0 auto;
}

.button{
    padding: 12px;
    text-decoration: none;
    color: #1C444F;
}

.button.is-circled{
    transition: all .2s ease-in;
    background-color: transparent;
    border-radius: 25px;
    border: 3px solid #1C444F;
}

.button.is-filled{
    transition: all .2s ease-in;
    background-color: #1C444F;
    border-radius: 25px;
    color: #C6E4DC;
}

.button.is-filled:hover{
    background-color: #C6E4DC;
    color: #1C444F;
}

.button.is-circled:hover{
    background-color: #1C444F;
    color: #C6E4DC;
}

.button:active, .button.is-circled:active, .button.is-filled:active{
    color: white;
}
/* END PAGE */

/* TEXT */
.sub-info p{
    font-family: monospace;
    font-size: 20px;
}

.sub-info h4{
    font-family: monospace;
    font-size: 40px;
    text-align: center;
    margin:0 auto;
}

.button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bolder;
}

.title h1{
    font-family: 'Helvetica';
    font-size: 5em;
    color: #1C444F;
}
/* END TEXT */

/* HEADER */
nav{
    overflow: hidden;
    top: 0;
    padding: 20px;
    margin:0 auto;
}

.nav-item{
    display: inline-block;
    margin:0 auto;
    padding: 0;
}

nav a{
    color: #1C444F;
}

#nav-logo{
    height: 80px;
    margin-top: -5px;
}

#logo{
    height: 100%;
}

#nav-links{
    margin-top: 25px;
    float: right;
}
/* END HEADER */

/* MAIN */
main{
    width:90%;
    margin:0 auto;
    margin-top: 80px;
    position: static;
}

.info{
    display: block;
    background-color: #4876AB;
    border-radius: 10px;
    min-height: 10px;
    padding: 20px;
    margin:0 auto;
}

main .sep{
    display: inline-block;
    padding-top: 10px;
    height: 20px;
    width: 100%;
}

.title{
    text-align: center;
    background-color: transparent;
    padding: 0;
}

main .sep line{
    stroke:#1C444F;
    stroke-width: 3;
}

.sub-info{
    background-color: #7EA5CB;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    margin:0 auto;
}
/* END MAIN */