/* Michael Bosik - THEME
 *
 * #1C444F
 * #4876AB
 * #6191C6
 * #7EA5CB
 * #C6E4DC
 *
 */

* {
    box-sizing: border-box;
}

/* Page */
html{
    background-color: #C6E4DC;
}

body{
    background-color: #C6E4DC;
    max-width: 1500px;
    margin:0 auto;
}

header{
    width:100%;
}

/* Buttons */
.button{
    transition: all .2s ease-in;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bolder;
    padding: 12px;
    color: #1C444F;
}

.button:hover{
    color: #4876AB;
    text-decoration: none;
}

.button.is-circled{
    transition: all .2s ease-in;
    background-color: transparent;
    border-radius: 25px;
    border: 3px solid #4876AB;
    color: #4876AB;
}

.button.is-filled{
    transition: all .2s ease-in;
    background-color: #4876AB;
    border-radius: 25px;
    color: #1C444F;
}

.button.is-filled:hover{
    background-color: #C6E4DC;
    color: #1C444F;
}

.button.is-circled:hover{
    background-color: #4876AB;
    color: #C6E4DC;
}

.button:active, .button.is-circled:active, .button.is-filled:active{
    color: white;
}

/* Nav Bar */
.nav-item{
    display: inline-block;
    margin:0 auto;
}

nav a{
    color: #1C444F;
}

#nav-logo{ 
    margin-top: -5px;
}

#logo{
    height: 80px;
}

#nav-links{
    margin-top: 25px;
    float: right;
}

footer i{
    padding: 20px;
}

/* Divs */
main{
    width:90%;
    margin:0 auto;
    display: block;
}

.title{
    font-family: 'Open Sans', sans-serif;
    margin:0 auto;
    display: block;
    text-align: center;
    background-color: transparent;
    padding: 0;
}

.title h1{
    font-size: 5em;
    color: #1C444F;
}

.title h2{
    font-size: 3em;
    color: #1C444F;
}

.row{
    margin-top: 20px;
}

.col{
    padding: 20px;
}

.info{
    display: block;
    background-color: #7EA5CB;
    border-radius: 10px;
    min-height: 10px;
    padding: 20px;
    margin:0 auto;
}

.sub-info{
    border: 3px solid #1C444F;
    border-radius: 10px;
}

.sub-info h1, h2, h3, h4, h5, h6, p, i{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
    margin:0 auto;
}

.sub-info h1{
    font-size: 2.8em;
}

.sub-info h5{
    font-size: 1em;
    color: #4876AB;
}

.sub-info p{
    font-size: 1.2em;
    color: #1C444F;
}

.sub-info h4, i{
    font-size: 3em;
    color: #1C444F;
}

.sub-info a{
    text-decoration: underline;
    color: #1C444F;
}

.sub-info a:hover{
    text-decoration: underline;
    color: #C6E4DC;
}

.sub-info.is-filled{
    background-color: #4876AB;
}

.sub-info.is-filled p{
    color: #C6E4DC;
}
  
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}